<div class="input" >
    <label class="input__container">
        <div class="input__label">{{label}}</div>
        <input class="input__element" name="{{name}}" placeholder="{{label}}" type="{{type}}"/>
    </label>
    <div class="input__error-mess">{{error}}</div>
</div>
